---
---

$accentkleur: #241a1f;
$tekstkleur_op_accent: white;
$basiskleur: #403732;
$tekstkleur_op_basis: white;
$highlightkleur: #5e2d83;

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
html * {max-height:1000000px;}
* {-webkit-text-size-adjust: 100%;}
.post-content p {max-height: 99999px;}
img {max-width: 100%;}

html {overflow-y: scroll;}
body {color: $tekstkleur_op_basis; background: $basiskleur; font-family: 'PT Sans Narrow', sans-serif; font-weight: 700; font-size: 17px; line-height: 1.4em;}
body.iOS .salon, 
body.iOS .salon2,
body.iOS .salon3 {background-attachment: scroll;}

#splash {display: none; position: fixed; height: 100%; width: 100%; background: #5e2d83; z-index: 99; cursor: pointer;}
#splash table {height: 100%; width: 100%;}
#splash td {vertical-align: middle; text-align: center;}
#splash img {width: 75%; max-width: 729px;}

#review {visibility: hidden; position: absolute; left: 0; top: 660px; z-index: 1;}

.intro {height: 800px;}
.intro.dames > div {background: url('../img/kapper-amsterdam-dames.jpg') center top no-repeat; height: 800px; }
.intro.heren > div {background: url('../img/kapper-amsterdam-heren.jpg') center top no-repeat; height: 800px; }
.intro.koffijberg > div {background: url('../img/kapper-amsterdam-koffijberg.jpg') center top no-repeat; height: 800px; }
.intro .highlight {text-align: center; padding: 80px 15px 0;}
.intro .highlight table {height: 720px;}
.intro .highlight article {display: none;}
.intro .highlight article .btn-primary {display: inline-block; margin-bottom: 10px;}
.intro .btn.desktop {cursor: text; padding: 0; -webkit-user-select: text; -moz-user-select: text; -ms-user-select: text;}

.about {text-align: center; padding: 90px 0; background: white; color: $accentkleur;}
.about .post-content {font-size: 18px; line-height: 1.9em;}
.about .post-content p {color: #666;}
.about .post-header span {font-size: 22px; text-transform: uppercase; font-weight: 400;}
.about .post-header h1 {font-size: 60px; margin-top: 5px;}
.about .post-header h1::after {display: block; content: ""; width: 80px; height: 5px; background: $accentkleur; margin: 30px auto;}

.salon {height: 502px; background: url('../img/kapperamsterdamsalon.jpg') center center no-repeat; background-size: cover; background-attachment: fixed;}
.salon .circle {text-align: center; background: white; color: $accentkleur; height: 450px; width: 450px; margin: 25px 0 0 -225px; border-radius: 250px; position: absolute; left: 50%;}
.salon .circle p {margin: 0 auto; display: block; width: 260px; position: relative; right: 40px;}
.salon .circle p .day {display: inline-block; width: 130px;}
.salon .circle p .time {display: inline-block; width: 130px;}
.salon .post-header {padding: 87px 0 0;}
.salon .post-header h1 {margin-bottom: 5px;}
.salon .post-content {font-size: 18px; line-height: 1.9em;}
.salon .post-content p {color: #666;}

.salon2 {height: 502px; background: url('../img/kapper-amsterdam-salon2.jpg') center center no-repeat; background-size: cover; background-attachment: fixed;}
.page-template .salon2 {height: 240px; background-attachment: scroll;}

.salon3 {height: 502px; background: url('../img/kapper-amsterdam-salon3.jpg') center center no-repeat; background-size: cover; background-attachment: fixed;}
.page-template .salon3 {height: 240px; background-attachment: scroll;}

.twocols {padding: 0 0 90px; background: white; color: $accentkleur;}
.twocols .post-content p {color: #666; padding-right: 30px;}
.twocols .post-content table {color: #666; margin-bottom: 2em;}
.twocols .post-content td {padding-right: 30px;}
.twocols .post-header {padding-top: 90px;}
.twocols .sidebar, .behandelingen .sidebar {border-left: 1px dotted silver; padding-left: 25px; padding-bottom: 2px;}

.post .twocols .post-header h1 {font-size: 60px; margin-top: 5px;}
.post .twocols .post-header span {font-size: 22px; text-transform: uppercase; font-weight: 400;}
.post .twocols .post-header h1::after {display: block; content: ""; width: 80px; height: 5px; background: $accentkleur; margin: 30px 0;}
.post .twocols .post-content p:first-child {
    font-size: 22px;
    line-height: 1.7em;
    font-style: italic;
    font-family: 'PT Serif', serif;
    margin-bottom: 1.3em;
    font-weight: 400;
}

.behandelingen {padding: 90px 0; background: white; color: $accentkleur;}
.behandelingen .post-content p {color: #666; margin-bottom: 0;}
.behandelingen .post-content p.smaller {font-size: 12px; line-height: 1.7em;}
.behandelingen .expand1 {display: none;}
.behandelingen #expand1 {position: relative; bottom: 7px;}
.behandelingen table {width: 100%; color: #666;}
.behandelingen td {padding: 3px 0; font-size: 15px; line-height: 1.7em;}
.behandelingen td.text-center {padding-left: 15px; padding-right: 15px;}
.behandelingen td a {text-decoration: none; color: #666;}

footer p {margin: 0; font-family: 'PT Serif', serif; font-weight: 400; font-size: 15px; line-height: 2em;}
footer a, footer a:hover, footer a:focus {color: white;}
.site-footer {padding: 0 0 90px; background: $accentkleur; color: $tekstkleur_op_accent;}
.site-footer .row > div {max-height: 99999px;}
.site-footer h3 {padding: 90px 0 0; clear: both;}
.site-footer .day {float: left;}
.site-footer2 {padding: 15px 0; max-height: 99999px;}
.site-footer2 .fa {margin-left: 5px; top: -2px; vertical-align: middle;}

.navbar {border-radius: 0px!important;}
.navbar-default {z-index: 2; position: absolute; width: 100%; background: transparent; border: 0; text-transform: uppercase;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {opacity: 1; text-decoration: none; border-top: 3px solid transparent; color: $tekstkleur_op_basis; margin: 20px 0 25px 30px; padding: 4px 0;}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {border-top: 3px solid $tekstkleur_op_basis;}
.navbar-collapse {-webkit-box-shadow: none; box-shadow: none;}
.navbar-default .navbar-toggle {margin-top: 20px; margin-bottom: 22px;}
.navbar-default .navbar-toggle .icon-bar {background-color: $tekstkleur_op_basis;}
.page-template .navbar-default .navbar-toggle .icon-bar,
.navbar-default.attop .navbar-toggle .icon-bar {background-color: $basiskleur;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent; opacity: 1;}
.navbar-default .navbar-toggle {border-color: transparent;}
.navbar-default .navbar-brand {margin: 2px 0 0;}
.navbar-default .navbar-brand img {display: block; width: 170px;}
.navbar-default .navbar-brand img.attop {display: none;}
.page-template .navbar-brand img,
.navbar-default.attop .navbar-brand img {display: none;}
.page-template .navbar-default .navbar-brand img.attop,
.navbar-default.attop .navbar-brand img.attop {display:block;}
.page-template .navbar-default, .navbar-default.attop {position: fixed; background: white; border-bottom: 1px solid rgba(86,76,73,0.15);}
.navbar-default.attop .navbar-brand:focus, .navbar-default.attop .navbar-brand:hover,
.navbar-default.attop .navbar-nav>li>a:focus, .navbar-default.attop .navbar-nav>li>a:hover, .navbar-default.attop .navbar-brand, .navbar-default.attop .navbar-nav>li>a,
.page-template .navbar-default .navbar-brand:focus, .page-template .navbar-default .navbar-brand:hover,
.page-template .navbar-default .navbar-nav>li>a:focus, .page-template .navbar-default .navbar-nav>li>a:hover, .page-template .navbar-default .navbar-brand, .page-template .navbar-default .navbar-nav>li>a {color: $basiskleur;}
.navbar-default.attop .navbar-nav>li>a:hover, .page-template .navbar-default .navbar-nav>li>a:hover {border-color: $basiskleur;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0px!important;}
.navmenu-default {border: 0; background-color: $accentkleur; border-color: transparent;}
.navmenu-default .navmenu-nav>li>a {text-decoration: none; color: $tekstkleur_op_accent;}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus { color: $tekstkleur_op_accent;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color: $tekstkleur_op_basis;}
.navmenu-nav {margin-top: 16px; font-size: 27px; line-height: 1.4em;}
.navmenu, .navbar-offcanvas {width: 380px;}
.navmenu img {width: 200px; margin: 20px 15px;}

.low_height.page-template .navbar-default, 
.low_height .navbar-default.attop,
.old_Android.page-template .navbar-default, 
.old_Android .navbar-default.attop,
.old_iOS.page-template .navbar-default, 
.old_iOS .navbar-default.attop {position: absolute;}

h1 {text-transform: uppercase; font-weight: 700; font-size: 50px; margin-bottom: 0.5em; margin-top: 0px;}
h3 {font-weight: 700; font-size: 21px; text-transform: uppercase;}
p {margin-bottom: 2em;}
.post-content h2 {margin-bottom: 0; margin-top: 25px; color: #666; font-family: 'PT Serif', serif; font-weight: 700; font-size: 15px; line-height: 2em;}
.post-content ul, 
.post-content ol {margin-bottom: 2em; color: #666;}
.featured-image img {margin-top: 10px; max-width: 100%;}

.post-content p a {color: #666;}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
.post-content {font-family: 'PT Serif', serif; font-weight: 400; font-size: 15px; line-height: 2em;}

.btn {color: white; text-decoration: none; padding-left: 25px; padding-right: 25px; border-radius: 0; border: 0; font-family: 'PT Sans Narrow', sans-serif; font-weight: 700; font-size: 17px; text-transform: uppercase;
    -webkit-transition: all 0.2s ease;                  
    -moz-transition: all 0.2s ease;                 
    -o-transition: all 0.2s ease;   
    -ms-transition: all 0.2s ease;          
    transition: all 0.2s ease;
}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover, .btn-default {opacity: 1; border: 1px solid $accentkleur !important; background: transparent; color: $accentkleur; -webkit-box-shadow: none; box-shadow: none;}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover {background: $highlightkleur; border-color: $highlightkleur!important;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary {opacity: 1; border: 1px solid $accentkleur !important; background: $accentkleur; color: $tekstkleur_op_accent; -webkit-box-shadow: none; box-shadow: none;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover {background: $highlightkleur; border-color: $highlightkleur!important;}
.btn-default:active:hover, .btn-default:hover, .btn-primary:active:hover, .btn-primary:hover {opacity: 1;}
.btn:active:hover, .btn:focus, .btn:hover {color: white;}
.intro .btn-primary:hover, .intro .btn-default {color: white!important; border: 1px solid white!important; background: transparent!important;}
.intro .btn-primary, .intro .btn-default:hover {border: 1px solid $accentkleur!important; background: $accentkleur!important;}
.fa {font-size: 180%; display: inline-block; cursor: pointer; margin: 0; position: relative; top: 3px;} 
.form-group {color: #666;}
.btn:active {-webkit-box-shadow: none; box-shadow: none;}
.form-control.error {border-color: red;}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/PjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDE4NS4zNDQgMTg1LjM0NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTg1LjM0NCAxODUuMzQ0OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PGc+PGc+PHBhdGggc3R5bGU9ImZpbGw6I2ZmZmZmZjsiIGQ9Ik05Mi42NzIsMTQ0LjM3M2MtMi43NTIsMC01LjQ5My0xLjA0NC03LjU5My0zLjEzOEwzLjE0NSw1OS4zMDFjLTQuMTk0LTQuMTk5LTQuMTk0LTEwLjk5MiwwLTE1LjE4YzQuMTk0LTQuMTk5LDEwLjk4Ny00LjE5OSwxNS4xOCwwbDc0LjM0Nyw3NC4zNDFsNzQuMzQ3LTc0LjM0MWM0LjE5NC00LjE5OSwxMC45ODctNC4xOTksMTUuMTgsMGM0LjE5NCw0LjE5NCw0LjE5NCwxMC45ODEsMCwxNS4xOGwtODEuOTM5LDgxLjkzNEM5OC4xNjYsMTQzLjMyOSw5NS40MTksMTQ0LjM3Myw5Mi42NzIsMTQ0LjM3M3oiLz48L2c+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjwvc3ZnPg==);
  background-size: contain;
}
.touch .arrow {display: none;}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

.team {padding: 90px 0; text-align: center;}
.team > div {}
.teamcontrol {font-size: 20px; position: relative; bottom: 6px;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
.teamcontrol.next {position: absolute; right: 15px; display: block; margin-bottom: 71px; z-index: 1;}
.teamcontrol.prev {position: absolute; left: 15px; display: block; margin-bottom: 71px; z-index: 1;}
.teamcontrol .fa {font-size: 250%;}
[class*=" icon-"]:before, [class^=icon-]:before {margin: 0;}

.ch-img-1 {background-image: url(/img/pers1.jpg); background-size: cover;}
.ch-img-2 {background-image: url(/img/pers2.jpg); background-size: cover;}
.ch-img-3 {background-image: url(/img/pers2.jpg); background-size: cover;}
.ch-grid {height: 175px; overflow: hidden; margin: 0; padding: 0;}

.ch-grid li {
    width: 175px;
    height: 175px;
    margin: 0 10px;
    position: relative;
    display: none;
}
.ch-grid li:nth-child(1),
.ch-grid li:nth-child(2),
.ch-grid li:nth-child(3),
.ch-grid li:nth-child(4) {display: inline-block;}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 $accentkleur, inset 0 0 0 16px rgba(64,55,50,0.2);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.ch-grid:after, .ch-item:before {
    content: '';
    display: table;
}
.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
}
.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 24px;
    margin: 0 30px;
    padding: 52px 0 0 0;
    height: 85px;
    font-weight: 700;
}
.ch-info p {
    color: #fff;
    padding: 5px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    line-height: 1.6em;
    border-top: 1px solid rgba(255,255,255,0.5);
    font-family: 'PT Serif', serif;
    font-weight: 400;
}
.ch-info p a {
    display: block;
    color: #fff;
    color: rgba(255,255,255,0.5);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    padding-top: 4px;
    text-decoration: none;
    font-family: 'PT Sans Narrow'
}
.ch-item:hover {
    opacity: 1; box-shadow: inset 0 0 0 110px $accentkleur, inset 0 0 0 16px black;
}
.ch-item:hover .ch-info {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
  .mobile {display: none;}
  .desktop {display: inline;}
form {padding-right: 30px; clear: both;}
label {font-weight: normal;}
.border {border: 6px solid white; box-shadow: 0px 0px 6px rgba(0,0,0,0.25);}
.border img {margin-top: 0px;}
.rotate {
    -ms-transform: rotate(3deg); /* IE 9 */
    -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
    transform: rotate(3deg);
}
#front {clear: both; position: absolute; margin-top: 530px; width: 100%; max-width: 300px;}
#front img {display: block; width: 100%;}
.post-content img, .post-content iframe {max-width: 100%;}

#gallery {padding-top: 10px; padding-bottom: 20px;}
#gallery.row {margin-left: -4px; margin-right: -4px;}
#gallery.row > div {padding: 4px;}
#gallery img {width: 100%;}

#lightbox {cursor: pointer; display: none; z-index: 99; position: fixed; top: 0; left: 0; background: #222 url('/img/preloader.gif') center center no-repeat; text-align: center;}
#lightbox #image {z-index: 0; display: inline; max-height: 95vh; max-width: 95vw;}
#nextbutton {color: white; float: right; width: 50px; height: 50px; line-height: 45px; margin-right: 2.5vw; font-size: 50px;}
#prevbutton {color: white; float: left; width: 50px; height: 50px; line-height: 45px; margin-left: 2.5vw; font-size: 50px;}
#closebutton {color: white; position: absolute; top: 2vh; right: 2.5vw; width: 50px; height: 50px; line-height: 50px; margin-left: 2.5vw; font-size: 20px; font-weight: 400;}
#controls {height: 50px; top: 50%; position: fixed; margin-top: -25px; width: 100%;}
#controls a {color: white; text-decoration: none;}
#controls a:hover, #controls a:active {color: silver;}

@media all and (max-width: 1199px) {
.behandelingen .sidebar {padding-left: 0!important; border-left: 0!important;}
}

@media all and (max-width: 991px) {
  .intro > div > div {background: rgba(86,76,73,0.8); height: 800px; }
  form, .twocols .post-content p {padding-right: 0px;}
}
@media all and (max-width: 767px) {
	.navbar-default .navbar-collapse {background: $accentkleur; border: none;}
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 15px!important;}
  .ch-grid {
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  .salon {background-image: url('../img/kapperamsterdamsalon-s.jpg');}
  .salon2 {background-image: url('../img/kapper-amsterdam-salon2-s.jpg');}
}
@media all and (max-width: 600px) {
  .mobile {display: inline-block;}
  .desktop {display: none;}
}
@media all and (max-width: 450px) {
  p, .post-content{font-family: Georgia, 'PT Serif'!important;}
  .salon .circle p {width: 280px;}
  .salon .circle p .time {width: 140px;}
  .salon .circle p .day {width: 140px;}
  .salon {background-image: url('../img/kapperamsterdamsalon-xs.jpg');}
  .salon2 {background-image: url('../img/kapper-amsterdam-salon2-xs.jpg');}
}
