<div id="wrapall">
<script>
if(getParameterByName('url')) {
    document.getElementById('wrapall').style.display='none';
}
</script>

<header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container">


<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
<img src="/img/koffijberglogo_ffffff.svg" onerror="this.onerror=null; this.src='/img/koffijberglogo_ffffff.png'" alt="Koffijberg logo">
      <ul class="nav navmenu-nav">
              <li><a href="/contact">Make an appointment</a></li>      
              <li><a href="/over-ons">About</a></li>
              <li><a href="/#openingstijden">Opening hours</a></li>
              <li><a href="/#treatments">Treatments</a></li>
              <li><a href="/#team">Team</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/contact">Contact</a></li>      
              <li><a href="http://www.koffijberg.nl"><img src="/img/nl.png" height="16" style="position: relative; bottom: 2px; margin: 0; width: auto;" /></a></li>      
      </ul>
</div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#top">
              <img src="/img/koffijberglogo_color.svg" onerror="this.onerror=null; this.src='/img/koffijberglogo_color.png'" alt="Koffijberg logo">
              <img src="/img/koffijberglogo_color.svg" onerror="this.onerror=null; this.src='/img/koffijberglogo_color.png'" alt="Koffijberg logo" class="attop">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/contact">Make an appointment</a></li>      
              <li><a href="/over-ons">About</a></li>
              <li><a href="/#openingstijden">Opening hours</a></li>
              <li><a href="/#treatments">Treatments</a></li>
              <li class="hidden-sm"><a href="/#team">Team</a></li>
              <li class="hidden-sm"><a href="/news">News</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="http://www.koffijberg.nl"><img src="/img/nl.png" height="16" style="position: relative; bottom: 2px; margin: 0; width: auto;" alt="Nederlands" /></a></li>    
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container -->
      </nav>
</header> 
