<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="body" class="page-template post" onload="if(getParameterByName('url')) setimage('url'); {% assign num_images = page.images | size %}{% if num_images <= 1 %}document.getElementById('controls').style.display='none';{% endif %}">
    {% include header.html %}
    <div class="salon2"></div>

    <div class="twocols">
      <div class="container">
      <article class="">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                        <header class="post-header">
                          <span>Koffijberg{% if page.collection == 'collecties' %} collections{% endif %}</span>
                          <h1 class="post-title">{{ page.title }}</h1>
                        </header>
            </div>
            <div class="col-sm-12 col-md-9 col-lg-8">
                                             
            {% if page.image %}<p><img src="{{ page.image }}" /></p>{% endif %}
            {% for item in page.images %}
              {% if item.image %}
                {% capture itemimagesize %}{{ item.image | size | minus:2 }}{% endcapture %}
                {% if forloop.first %}<div class="row" id="gallery">{% endif %}
                {% if itemimagesize contains '-' %}{% else %}
                <div class="col-xs-3">
                    <a href="{{ page.url }}?url={{ item.image }}" class="img"><img src="//images.weserv.nl/?url=www.koffijberghairdressers.com{{ item.image }}&w=200&h=200&t=square&a=top" /></a>
                </div>
                {% endif %}
                {% if forloop.last %}</div>{% endif %}
              {% endif %}
            {% endfor %}
            
                        <div class="post-content">
                        {{ content }}

                        <p>{% if page.collection == 'collecties' %}<a href="/collections/">&larr; Back to the collections</a>{% else %}<a href="/#{% if page.collection == 'treatments' %}behandelingen{% else %}top{% endif %}">&larr; Back to the homepage</a>{% endif %}</p>
                        </div>

            </div>
            <div class="col-lg-1"></div>
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">                         
                        <div class="post-content">
                              <div></div><p class="sidebar" style="float: right; margin-top: 7px;">{% include contactinfo.html %}</p>
                        </div>
            </div>
          </div>
                </article>
      </div>
    </div>


    {% include footer.html %}

  </body>

</html>
